@page
@model GeoClinet.Pages.setdetail.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="container w-[40%] mx-auto py-8 mb-8 items-center justify-center">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="relative mb-2">
            <label asp-for="SetQuestionDetail.SetQuestionId" class="block text-sm font-bold mb-2">Set Name</label>
            <select asp-for="SetQuestionDetail.SetQuestionId" class="input input-bordered w-full bg-base-200" asp-items="ViewBag.SetQuestionId"></select>
        </div>
        <div class="relative mb-6">
            <label asp-for="SetQuestionDetail.QuestionId" class="block text-sm font-bold mb-2">Title</label>
            <select asp-for="SetQuestionDetail.QuestionId" class="input input-bordered w-full bg-base-200" asp-items="ViewBag.QuestionId"></select>
        </div>
        <div class="mb-6 relative">
            <div class="flex gap-2 w-1/2">
                <a asp-page="./Index" class="btn btn-error w-32 text-white" type="button">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success w-32 text-white" />
            </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
