@page
@model GeoClinet.Pages.set.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="container w-[40%] mx-auto py-8 mb-8 items-center justify-center">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class="flex text-2xl font-bold items-center mb-6">Create New Set Question</h2>
        <div class="relative mb-2">
            <label asp-for="SetQuestion.SetName" class="block text-sm font-bold mb-2">Set Name</label>
            <input asp-for="SetQuestion.SetName" class="input input-bordered w-full bg-base-200" />
             <span asp-validation-for="SetQuestion.SetName" class="text-danger"></span>
        </div>
        <div class="relative mb-6">
            <label asp-for="SetQuestion.QuestionNumber" class="block text-sm font-bold mb-2">Question Number</label>
            <input asp-for="SetQuestion.QuestionNumber" class="input input-bordered w-full bg-base-200" />
             <span asp-validation-for="SetQuestion.QuestionNumber" class="text-danger"></span>
        </div>
        <div class="mb-6 relative">
            <div class="flex gap-2 w-1/2">
                <a asp-page="./Index" class="btn btn-error w-32 text-white" type="button">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success w-32 text-white" />
            </div>
     </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
