@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="pt-7 mx-auto">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 text-center md:text-left py-6">
                <h1 class="mb-4 text-5xl font-bold text-base-content">GeoTycoon : EXPERIENCE WEALTH AND GEOGRAPHY</h1>
                <p class="mb-6 text-lg text-gray-600 text-base-content">Our game is not only intuitive but also gives you the experience of learning and investing in real estate in the provinces of Vietnam. Explore and become a billionaire while learning about the physical geography of the areas you want to invest in.</p>
                <div class="text-center md:text-left">
                    <a class="btn btn-warning mr-3 btn-lg" href="#!" role="button">Get started</a>
                    <a class="btn btn-link text-warning font-medium" href="~/css/background.jpg" download="test" role="button" data-bs-toggle="modal" data-bs-target="#popupVideo">
                        <span class="fas fa-download mr-2"></span>Download
                    </a>
                </div>
            </div>
            <div class="md:w-1/2 text-right ml-12">
                <video class="pt-7 md:pt-0 img-fluid" src="~/css/video.mp4" controls alt="Hero Image"></video>
            </div>

        </div>
    </div>
</section>




<section class="pt-5 mt-24 lg:pt-9 mb-6 mx-auto" id="feature">
    <div class="bg-cover bg-no-repeat bg-bottom-0 hidden lg:block" style="background-image: url(assets/img/category/shape.png); opacity: 0.5;"></div>
    <!--/.bg-holder-->

    <div class="container mx-auto text-base-content">
        <h1 class="text-5xl font-bold mb-4 text-center">Our Games designed to Improve <br class="hidden xl:block" />your Knowledge</h1>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
            <div class="flex flex-col mb-2">
                <img class="mb-3 -ml-3" src=~/css/quiz-icon-simple-vector-170164971.webp width="80" alt="Feature" />
                <h4 class="mb-3">Quiz Mechanic</h4>
                <p class="mb-0 text-gray-600">While Player enjoy The game,They can have knowledge from quiz. </p>
            </div>
            <div class="flex flex-col mb-2">
                <img class="mb-3 -ml-3" src=~/css/5432883.png width="75" alt="Feature" />
                <h4 class="mb-3">Multiplayer mode</h4>
                <p class="mb-0 text-gray-600">Enjoy the game with your friends or your family it's truly a fun experience</p>
            </div>
            <div class="flex flex-col mb-2">
                <img class="mb-3 -ml-3" src=~/css/8694742.png width="75" alt="Feature" />
                <h4 class="mb-3">Custom your Questions</h4>
                <p class="mb-0 text-gray-600">Create your own set of questions, which can be used for review or shared with everyone.</p>
            </div>
            <div class="flex flex-col mb-2">
                <img class="mb-3 -ml-3" src=~/css/4239781-200.png width="75" alt="Feature" />
                <h4 class="mb-3">Single Player Mode</h4>
                <p class="mb-0 text-gray-600">You can also play single with our Ai.</p>
            </div>
        </div>
        <div class="text-center pt-4"><a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register" role="button">SIGN UP NOW</a></div>
    </div><!-- end of .container-->
</section>




<section class="pt-5 mt-24 mx-auto" id="validation">

    <div class="container mx-auto text-base-content">
        <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-1/2">
                @* <h5>Effortless Validation for</h5> *@
                <h2 class="mb-2 text-3xl font-bold">Fun and friendly design</h2>
                <p class="mb-4 text-lg">
                    Designed with a fun and friendly style, our colorful images create an exciting and 
                    comfortable environment for everyone, from beginners to veteran real estate investors.
                </p>
                <h2 class="text-2xl font-bold">Interesting Gameplay</h2>
                <p class="mb-4 text-lg ">Combined with knowledge questions, players buy and sell real estate while learning about Vietnamese geography and culture, bringing an interesting and rewarding experience.</p>
                <h2 class="text-2xl font-bold">Diverse Questions</h2>
                <p class="mb-4 text-lg ">Players can create their own sets of questions, customizing the game to personal preferences and increasing its richness and challenge.</p>
                <h2 class="text-2xl font-bold">Have fun learning</h2>
                <p class="mb-4 text-lg">Each game is an opportunity to explore and expand your understanding of Vietnamese geography.<br />Have fun enjoying this learning process and become a wise investor!</p>
            </div>
            <div class="w-full lg:w-1/2"><img class="w-full h-3/4 object-cover" src="~/css/mainmenugame.jpg" alt="" /></div>
        </div>
    </div><!-- end of .container-->

</section>

<section class="pt-5 mx-auto" id="manager">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-1/2 lg:pr-12"><img class="w-full h-4/4 object-cover" src="~/css/67506141_2443098542394748_1120180827175518208_n.jpg" alt="" /></div>
            <div class="w-full lg:w-1/2 text-base-content">
                <h5>From a dedicated team: GeoTycoon</h5>
                <p class="text-3xl font-bold mb-2">Product Managers: Mr.Quach Luyl Da</p>
                <p class="mb-4 text-lg">
                    Our mentor, Product Manager, whose knowledge and support helped us in the process of creating this game.
                </p>
                <p class="text-3xl font-bold mb-2">Team: GeoTycoon </p>
                <div class="flex items-center mb-3">
                    <img class="me-sm-4 me-2" src=~/css/collap.webp width="60" alt="tick" />
                    <p class="fw-medium mb-0">A team of enthusiastic and creative programmers</p>
                </div>
                <div class="flex items-center mb-3">
                    <img class="me-sm-4 me-2" src=~/css/collap.webp width="60" alt="tick" />
                    <p class="fw-medium mb-0">Work hard and don't be afraid to face challenges,<br />always ready to overcome all difficulties to create quality and creative games.</p>
                </div>
                <div class="flex items-center mb-3">
                    <img class="me-sm-4 me-2" src=~/css/collap.webp width="60" alt="tick" />
                    <p class="fw-medium mb-0"> We have closely bonded and cooperated effectively<br />to turn creative ideas into attractive and quality games.</p>
                </div>
            </div>
        </div>
    </div><!-- end of .container-->

</section>

<!-- ============================================-->

@* <section class="pt-5 mt-24 mx-auto" id="marketer">

    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-1/2 text-base-content">
                <h5>Optimisation for</h5>
                <p class="mb-2 text-3xl font-bold">Marketers</p>
                <p class="mb-4 text-lg">Few would argue that, despite the advancements of<br />feminism over the past three decades, women still face a<br />double standard when it comes to their behavior.</p>
                <h4 class="text-2xl font-bold">Accessory makers</h4>
                <p class="mb-4 text-lg">While most people enjoy casino gambling, sports betting,<br />lottery and bingo playing for the fun</p>
                <h4 class="text-2xl font-bold">Alterationists</h4>
                <p class="mb-4 text-lg">If you are looking for a new way to promote your business<br />that won't cost you money,</p>
                <h4 class="text-2xl font-bold">Custom Design designers</h4>
                <p class="mb-4 text-lg">If you are looking for a new way to promote your business<br />that won't cost you more money,</p>
            </div>
            <div class="w-full lg:w-1/2"><img class="w-full" src="~/css/hungmarketing.jpg" alt="" /></div>
        </div>
    </div><!-- end of .container-->

</section> *@

<!-- ============================================-->

<section class="py-md-11 mt-24 py-8 mx-auto" id="superhero">

    <div class="bg-holder z-index--1 bottom-0 d-none d-lg-block background-position-top" style="background-image:url(assets/img/superhero/oval.png);opacity:.5; background-position: top !important ;">
    </div>
    <!--/.bg-holder-->

    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="text-center text-base-content">
                <h1 class="text-4xl font-bold mb-4">Need More Information about Our Team</h1>
                <p class="mb-5 text-lg">Do you require some help for your project: Conception workshop,<br />prototyping, marketing strategy, landing page, Ux/UI?</p>
                <div class="text-center pt-4"><a class="btn btn-warning" asp-page="/AboutUS" role="button">Contact To Us</a></div>
            </div>
            </div>
        </div>
    </div><!-- end of .container-->

</section>

<!-- ============================================-->
