@* @page
@model GeoClinet.Pages.Pending.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Profile.Avatar" class="control-label"></label>
                <input asp-for="Profile.Avatar" class="form-control" />
                <span asp-validation-for="Profile.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.FirstName" class="control-label"></label>
                <input asp-for="Profile.FirstName" class="form-control" />
                <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.LastName" class="control-label"></label>
                <input asp-for="Profile.LastName" class="form-control" />
                <span asp-validation-for="Profile.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.City" class="control-label"></label>
                <input asp-for="Profile.City" class="form-control" />
                <span asp-validation-for="Profile.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.State" class="control-label"></label>
                <input asp-for="Profile.State" class="form-control" />
                <span asp-validation-for="Profile.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Description" class="control-label"></label>
                <input asp-for="Profile.Description" class="form-control" />
                <span asp-validation-for="Profile.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Profile.IsApproved" /> @Html.DisplayNameFor(model => model.Profile.IsApproved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Profile.Isbanned" /> @Html.DisplayNameFor(model => model.Profile.Isbanned)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Profile.UserId" class="control-label"></label>
                <select asp-for="Profile.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Id" class="control-label"></label>
                <input asp-for="Profile.Id" class="form-control" />
                <span asp-validation-for="Profile.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@