<!DOCTYPE html >
<html lang="en" data-theme="ayu-light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeoTycoon</title>
    <link rel="icon" type="image/svg+xml" href="~/css/GeoTycoonLogo_Trans.png">
    <link rel="stylesheet" href="~/css/site.css" />
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const savedTheme = localStorage.getItem('theme') || 'ayu-light'; // Default theme
            document.documentElement.setAttribute('data-theme', savedTheme);
        });

        function setTheme(theme) {
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
        }
    </script>
</head>
<style>
    .text-geo-tycoon {
        background: linear-gradient(45deg, #FFD700, #FF6347); /* Điều chỉnh mã màu gradient tùy ý */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<body >
    <nav class="navbar bg-base-100 top-0 flex flex-wrap pl-0 mb-0 list-none z-50">
      <div class="w-3/4 container mx-auto flex justify-between items-center">
        <a class="navbar-brand flex items-center justify-between gap-2" asp-page="/Index">
          <img src="~/css/GeoTycoonLogo_Trans.png" alt="logo" class="w-14 h-14">
          <span class="text-geo-tycoon font-bold text-2xl">
              GeoTycoon
          </span>
        </a>
            
        <div class="flex space-x-4">
                <a class="block py-2 px-4 hover:text-orange-500 text-base-content" href="#feature">How To Play</a>
                <a class="block py-2 px-4 hover:text-orange-500 text-base-content" asp-page="/AboutUs">About Us</a>
                <a class="block py-2 px-4 hover:text-orange-500 text-base-content" href="#superhero">Download</a>
        </div>
        <div class="flex space-x-4">
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>

    @*         <nav class="navbar sticky top-0">
            <div class="navbar-start gap-2 z-10">
                <a class="btn btn-ghost gap-2 text-xl text-white hover:bg-transparent" asp-page="/Index">
                    <img alt="logo" class="w-12 h-12" src="~/css/oc_preview_rev_2.png">
                </a>

            </div>

            <div class="navbar-end gap-2 z-9">
                <partial name="_LoginPartial" />
            </div>
        </nav> *@
    <div class="max-w-screen w-full bg-base-100">
        <main role="main" class="w-3/4 mx-auto min-h-[calc(100vh-4.5rem)] py-8">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-base-100">
        <section class="bg-base-100 pb-2 lg:pb-5 w-3/4 mx-auto">

            <div class="container mx-auto">
                <div class="flex flex-wrap justify-center pt-7 border-t">
                    <div class="w-full lg:w-1/4 lg:mb-0 order-1 lg:order-1 flex">
                        <img class="w-14 h-14 mb-4" src="~/css/GeoTycoonLogo_Trans.png" alt="" />
                        <span class="text-geo-tycoon font-bold text-2xl mt-4">
                            GeoTycoon
                        </span>
                    </div>
                    <div class="w-full lg:w-1/4 mb-4 lg:mb-0 order-3 lg:order-2">
                        <p class="text-lg mb-lg-4 text-base-content">Quick Links</p>
                        <ul class="list-none mb-0">
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">About us</a></li>
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">Blog</a></li>
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">Contact</a></li>
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-1/4 mb-4 lg:mb-0 order-4 lg:order-3">
                        <p class="text-lg mb-lg-4 text-base-content">Legal stuff</p>
                        <ul class="list-none mb-0">
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">Disclaimer</a></li>
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">Financing</a></li>
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">Privacy Policy</a></li>
                            <li class="mb-1"><a class="hover:text-primary transition duration-300 text-base-content" href="#!">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-1/4 mb-4 lg:mb-0 order-2 lg:order-4">
                        <p class="text-base-content text-lg mb-lg-4">
                            knowing you're always on the best energy deal.
                        </p>
                        <form class="mb-3">
                            <input class="input input-bordered text-base-content" type="email" placeholder="Enter your phone Number" aria-label="phone" />
                        </form>
                        <button class="btn btn-warning fw-medium py-1">Sign up Now</button>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <section class=" bg-base-100 text-center py-0 w-3/4 mx-auto">

            <div class="container mx-auto">
                <div class="container border-t py-3">
                    <div class="flex justify-between">
                        <div class="mb-1 mb-md-0">
                            <p class="mb-0 text-base-content">&copy; 2024 Your Company Inc </p>
                        </div>
                        <div class="mb-1 mb-md-0">
                            <p class="mb-0 text-base-content">
                                Made with <span class="fas fa-heart mx-1 text-danger text-base-content"> </span> by <span class="text-decoration-none ms-1 text-base-content">GeoTycoon</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
    </footer>
    

    

    @await RenderSectionAsync("Scripts", false)
    <script src="~/js/all.min.js"></script>
    <script src="~/js/site.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
</body>

</html>