@page
@model GeoClinet.Pages.UserListModel
@using Microsoft.AspNetCore.Identity

<h2>User List</h2>
<div class="w-full mt-8">
    <table class="table w-full rounded-box table-auto overflow-auto">
        <thead>
            <tr>
                <th class="font-semibold p-4 relative pr-6 text-left">Username</th>
                <th class="font-semibold p-4 relative pr-6 text-left">Email</th>
                <th class="font-semibold p-4 relative pr-6 text-left">Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userWithRoles in Model.Users)
            {
                <tr class="bg-base-100 hover">
                    <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.UserName</td>
                    <td class="font-semibold p-4 relative pr-6 break-words">@userWithRoles.User.Email</td>
                    <td class="font-semibold p-4 relative pr-6 break-words">
                        @foreach (var role in userWithRoles.Roles)
                        {
                            <span>@role</span>

                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
