@page
@model GeoClinet.Pages.Questionsss.EditModel

@{
    ViewData["Title"] = "Edit";
}



<div class="container w-[60%] mx-auto py-8 mb-8 items-center justify-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2 class="flex text-2xl font-bold items-center mb-3">Edit Question</h2>
            <input type="hidden" asp-for="Question.Id" />
        <div class="flex w-full space-x-4 mb-2">
            <div class="relative w-1/2 mr-2">
                <label asp-for="Question.Title" class="block text-sm font-bold mb-2">Title</label>
                <input asp-for="Question.Title" class="input input-bordered w-full bg-base-200" />
                <span asp-validation-for="Question.Title" class="text-danger"></span>
            </div>
            <div class="relative w-1/2">
                <label asp-for="Question.ProvinceId" class="block text-sm font-bold mb-2">Province</label>
                <select asp-for="Question.ProvinceId" class="input input-bordered w-full bg-base-200" asp-items="ViewBag.ProvinceId"></select>
                <span asp-validation-for="Question.ProvinceId" class="text-danger"></span>
            </div>

        </div>

        <div class="relative mb-2">
            <label asp-for="Question.UserId" class="block text-sm font-bold mb-2">User ID</label>
            <input asp-for="Question.UserId" class="input input-bordered w-full bg-base-200" asp-items="ViewBag.FirstName" readonly></input>
            </div>
        <div class="relative mb-2">
            <label asp-for="Question.Images" class="block text-sm font-bold mb-2">Image</label>
            <input asp-for="Question.Images" class="input input-bordered w-full bg-base-200" />

           @*  <div class="form-group">
                <label asp-for="Question.UserId" class="control-label"></label>
                <input asp-for="Question.UserId" class="form-control" asp-items="ViewBag.FirstName" readonly></input>
            </div> *@
            <div class="form-group">
                <label asp-for="Question.Images" class="control-label"></label>

                <span asp-validation-for="Question.Images" class="text-danger"></span>
            </div>
        <div class="relative mb-2">
            <label asp-for="Question.Content" class="block text-sm font-bold mb-2">Content</label>
            <input asp-for="Question.Content" class="input input-bordered w-full bg-base-200" />
                <span asp-validation-for="Question.Content" class="text-danger"></span>
            </div>

        <div class="flex w-full space-x-4 mb-2">
            <div class="relative w-1/2 mr-2">
                <label asp-for="Question.Option1" class="block text-sm font-bold mb-2">Option 1</label>
                <input id="option1Input" asp-for="Question.Option1" class="input input-bordered w-full bg-base-200" oninput="updateAnswerDropdown()" />
                <span asp-validation-for="Question.Option1" class="text-danger"></span>
            </div>
            <div class="relative w-1/2">
                <label asp-for="Question.Option2" class="block text-sm font-bold mb-2">Option 2</label>
                <input id="option2Input" asp-for="Question.Option2" class="input input-bordered w-full bg-base-200" oninput="updateAnswerDropdown()" />
                <span asp-validation-for="Question.Option2" class="text-danger"></span>
            </div>
            </div>
        <div class="flex w-full space-x-4 mb-2">
            <div class="relative w-1/2 mr-2">
                <label asp-for="Question.Option3" class="block text-sm font-bold mb-2">Option 3</label>
                <input id="option3Input" asp-for="Question.Option3" class="input input-bordered w-full bg-base-200" oninput="updateAnswerDropdown()" />
                <span asp-validation-for="Question.Option3" class="text-danger"></span>
            </div>
            <div class="relative w-1/2">
                <label asp-for="Question.Option4" class="block text-sm font-bold mb-2">Option 4</label>
                <input id="option4Input" asp-for="Question.Option4" class="input input-bordered w-full bg-base-200" oninput="updateAnswerDropdown()" />
                <span asp-validation-for="Question.Option4" class="text-danger"></span>
            </div>
        </div>
        <div class="flex w-full space-x-4 mb-2">
                <div class="relative w-1/2 mr-2">
                <label asp-for="Question.Answer" class="block text-sm font-bold mb-2">Answer</label>
                <select id="answerDropdown" asp-for="Question.Answer" class="input input-bordered w-full bg-base-200">
                    <option value="">Select option</option>
                </select>
                <span asp-validation-for="Question.Answer" class="text-danger"></span>
            </div>
                <div class="relative w-1/2">
                    <label asp-for="Question.Published" class="block text-sm font-bold mb-2">Published</label>
                    <input asp-for="Question.Published" class="input input-bordered w-full bg-base-200" />
                    <span asp-validation-for="Question.Published" class="text-danger"></span>
                </div>
        </div>
        
        <div class="relative mb-2">
            <label asp-for="Question.Description" class="block text-sm font-bold mb-2">Description</label>
            <input asp-for="Question.Description" class="input input-bordered w-full bg-base-200" />
                <span asp-validation-for="Question.Description" class="text-danger"></span>
            </div>
        
        <div class="relative mb-6">
            <label asp-for="Question.CreatedAt" class="block text-sm font-bold mb-2">Created At</label>
            <input asp-for="Question.CreatedAt" class="input input-bordered w-full bg-base-200" />
                <span asp-validation-for="Question.CreatedAt" class="text-danger"></span>
            </div>
            <div class="mb-6 relative">
                <div class="flex gap-2 w-1/2">
                    <a asp-page="./Index" class="btn btn-error w-48 text-white" type="button">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-success w-48 text-white" />
                </div>
            </div>

        </form>
    </div>


@section Scripts {
    <script>
        function updateAnswerDropdown() {
            var option1 = document.getElementById('option1Input').value;
            var option2 = document.getElementById('option2Input').value;
            var option3 = document.getElementById('option3Input').value;
            var option4 = document.getElementById('option4Input').value;

            var answerDropdown = document.getElementById('answerDropdown');
            answerDropdown.innerHTML = '';

            if (!option1 && !option2 && !option3 && !option4) {
                var defaultOption = document.createElement('option');
                defaultOption.value = '';
                defaultOption.textContent = 'Select option';
                answerDropdown.appendChild(defaultOption);
            }

            if (option1.trim() !== '') {
                var option1Element = document.createElement('option');
                option1Element.value = option1;
                option1Element.textContent = option1;
                answerDropdown.appendChild(option1Element);
            }

            if (option2.trim() !== '') {
                var option2Element = document.createElement('option');
                option2Element.value = option2;
                option2Element.textContent = option2;
                answerDropdown.appendChild(option2Element);
            }

            if (option3.trim() !== '') {
                var option3Element = document.createElement('option');
                option3Element.value = option3;
                option3Element.textContent = option3;
                answerDropdown.appendChild(option3Element);
            }

            if (option4.trim() !== '') {
                var option4Element = document.createElement('option');
                option4Element.value = option4;
                option4Element.textContent = option4;
                answerDropdown.appendChild(option4Element);
            }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
