@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<style>
    .custom-background {
        background: url('css/confirmmail2.png');
        background-size: cover;
        background-position: center center;
    }
</style>
<div class="hero min-h-screen" style="background: url('/css/confirmmail2.png') no-repeat center center; background-size: 85%;">
</div>