@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<body>
    <div class="flex items-center justify-center min-h-screen">
        <form id="account" method="post" class=" w-1/2 bg-base-300 p-8 shadow-lg rounded-lg space-y-4 relative">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }

            <div class="flex">
                <div class="w-full mr-8">
                    <h2 class="flex text-2xl font-bold items-center mb-3">Login to GeoTycoon</h2>
                    <div class="relative mb-4">
                        <label asp-for="Input.Email" class="block text-sm font-bold mb-2">Email Address</label>
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email address"
                               class="input input-bordered w-full" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="relative mb-2">
                        <label asp-for="Input.Password" class="block text-sm font-bold mb-2">Password</label>
                        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Enter your password"
                               class="input input-bordered w-full" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <label asp-for="Input.RememberMe" class="label cursor-pointer">
                        <span class="label-text text-sm font-bold">Remember me</span>
                        <input asp-for="Input.RememberMe" type="checkbox" class="toggle" checked />
                    </label>
                    <div class="mb-6 mt-2 relative">
                        <button type="submit" id="login-submit" class="btn btn-error w-full">Login</button>
                    </div>
                    <a id="forgot-password" asp-page="./ForgotPassword"
                       class="flex justify-center text-center underline text-gray-500 text-xs mb-2">Forgotten account?</a>
                    <p class="text-center text-gray-500 text-xs">
                        Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="underline">Register</a>.
                    </p>
                </div>
                <div class="hidden md:block items-center justify-center">
                    <div class="flex items-center justify-center h-full">
                        <img src="~/css/login.webp" alt="Description of your image">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
