@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<head>
    <!-- Add Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="flex items-center justify-center min-h-screen">
        <form id="account" method="post" class=" w-1/2 bg-base-300 p-8 shadow-lg rounded-lg space-y-4 relative">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }

            <div class="flex">
                <div class="w-full mr-8">
                    <h2 class="flex text-2xl font-bold items-center mb-3">Login to GeoTycoon</h2>
                    <div class="relative mb-4">
                        <label asp-for="Input.Email" class="block text-sm font-bold mb-2"><i data-feather="user" aria-hidden="true"></i> Email Address</label>
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email address"
                               class="input input-bordered w-full" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="relative mb-2">
                        <label asp-for="Input.Password" class="block text-sm font-bold mb-2">
                            <i data-feather="lock" aria-hidden="true"></i> Password
                        </label>
                        <div class="relative">
                            <input asp-for="Input.Password" id="password" autocomplete="current-password" aria-required="true" placeholder="Enter your password" class="input input-bordered w-full pr-10" />
                            <span id="toggle-password" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                                <i id="eye-icon" class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <label asp-for="Input.RememberMe" class="label cursor-pointer">
                        <span class="label-text text-sm font-bold">Remember me</span>
                        <input asp-for="Input.RememberMe" type="checkbox" class="toggle" checked />
                    </label>
                    <div class="mb-6 mt-2 relative">
                        <button type="submit" id="login-submit" class="btn btn-error w-full">Login</button>
                    </div>
                    <a id="forgot-password" asp-page="./ForgotPassword"
                       class="flex justify-center text-center underline text-gray-500 text-xs mb-2">Forgotten account?</a>
                    <p class="text-center text-gray-500 text-xs">
                        Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="underline">Register</a>.
                    </p>
                </div>
                <div class="hidden md:block items-center justify-center">
                    <div class="flex items-center justify-center h-full">
                        <img src="~/css/login.webp" alt="Description of your image">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('toggle-password').addEventListener('click', function () {
            var passwordInput = document.getElementById('password');
            var eyeIcon = document.getElementById('eye-icon');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            }
        });
    </script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
