@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
        <div class="hero min-h-screen" style="background-image: url(https://cellphones.com.vn/sforum/wp-content/uploads/2023/05/tai-monopoly-4.jpg);">
                <div class="hero-overlay bg-opacity-60"></div>
                <div class="hero-content text-center text-neutral-content">
                <div class="max-w-md bg-base-300 bg-opacity-75 p-8 rounded-lg">
                        <h1 class="mb-5 text-5xl font-bold">Let's Check Mail</h1>
                    <p class="mb-5 font-bold">We have sent a verification email to your inbox. Please check your email to complete the verification process and log in. </p>

                    </div>
                </div>
            </div>
    }
}

