@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <!-- Add Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<style>
    .custom-background {
        background: url('css/register05.png');
        background-size: cover;
        background-position: center center;
    }
</style>

<div class="flex flex-col items-center flex-1 h-full justify-center mx-auto px-4 sm:px-0 min-h-screen text-base-content">
    <div class="flex rounded-lg shadow-lg w-full border border-base-300 sm:w-5/6 lg:w-5/6 sm:mx-0">
        <div class="hidden md:block md:w-1/2 rounded-l-lg" style="background: url('/css/register05.png'); background-size: cover; background-position: center center;"></div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="flex flex-col w-full md:w-1/2 p-4 justify-center mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="flex flex-col flex-1 justify-center mb-8">
                    <h2 class="flex text-2xl font-bold items-center mb-3 mx-auto">Create New Account</h2>
                    <div class="relative mb-2">
                        <label asp-for="Input.Email" class="block text-sm font-bold mb-2">
                            <i class="mr-2" data-feather="user" aria-hidden="true"></i>
                            Email Address
                        </label>
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email address"
                               class="input input-bordered w-full" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                    </div>

                    <div class="relative mb-2">
                        <label asp-for="Input.FullName" class="block text-sm font-bold mb-2">
                            <i class="mr-2" data-feather="user" aria-hidden="true"></i>
                            Full Name
                        </label>
                        <input asp-for="Input.FullName" autocomplete="username" aria-required="true" placeholder="Enter your full name"
                               class="input input-bordered w-full" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>

                    </div>
                    <div class="flex w-full space-x-4 mb-2">
                        <div class="relative w-1/2 mr-2">
                            <label asp-for="Input.DOB" class="block text-sm font-bold mb-2">
                                <i class="mr-2" data-feather="calendar" aria-hidden="true"></i>
                                Date of Birth
                            </label>
                            <input asp-for="Input.DOB" autocomplete="username" aria-required="true" placeholder="Enter your date of birth" type="date"
                                   class="input input-bordered w-full" />
                            <span asp-validation-for="Input.DOB" class="text-danger"></span>
                        </div>
                        <div class="relative w-1/2">
                            <label asp-for="Input.Role" class="block text-sm font-bold mb-2">
                                <i class="mr-2" data-feather="user" aria-hidden="true"></i>
                                Role
                            </label>
                            <select asp-for="Input.Role" autocomplete="username" aria-required="true" placeholder="Select your role"
                                    class="input input-bordered w-full">
                                <option value="Student">Student</option>
                                <option value="Pending">Teacher</option>
                            </select>
                        </div>
                    </div>

                    <div class="relative mb-2">
                        <label asp-for="Input.Password" class="block text-sm font-bold mb-2">
                            <i class="mr-2" data-feather="lock" aria-hidden="true"></i>
                            Password
                        </label>
                        <div class="relative">
                            <input asp-for="Input.Password" id="password" autocomplete="new-password" aria-required="true" placeholder="Enter your password"
                                   class="input input-bordered w-full pr-10" />
                            <span id="toggle-password" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                                <i id="eye-icon" class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="relative mb-6">
                        <label asp-for="Input.ConfirmPassword" class="block text-sm font-bold mb-2">
                            <i class="mr-2" data-feather="lock" aria-hidden="true"></i>
                            Confirm Password
                        </label>
                        <div class="relative">
                            <input asp-for="Input.ConfirmPassword" id="confirm-password" autocomplete="new-password" aria-required="true" placeholder="Enter your password again"
                                   class="input input-bordered w-full pr-10" />
                            <span id="toggle-confirm-password" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                                <i id="confirm-eye-icon" class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-6 mt-2 relative">
                        <button type="submit" id="registerSubmit" class="btn btn-primary text-white w-full">Register</button>
                    </div>
                    <p class="text-center text-gray-500 text-xs">
                        You have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="underline">Login</a>.
                    </p>
                </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('toggle-password').addEventListener('click', function () {
            var passwordInput = document.getElementById('password');
            var eyeIcon = document.getElementById('eye-icon');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            }
        });

        document.getElementById('toggle-confirm-password').addEventListener('click', function () {
            var confirmPasswordInput = document.getElementById('confirm-password');
            var confirmEyeIcon = document.getElementById('confirm-eye-icon');
            if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                confirmEyeIcon.classList.remove('fa-eye');
                confirmEyeIcon.classList.add('fa-eye-slash');
            } else {
                confirmPasswordInput.type = 'password';
                confirmEyeIcon.classList.remove('fa-eye-slash');
                confirmEyeIcon.classList.add('fa-eye');
            }
        });
    </script>
}
