@page
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="flex items-center justify-center min-h-screen">
    <form class="p-8 shadow-lg rounded-lg space-y-4 relative border border-base-300" style="width:40%;" method="post">
        <input asp-for="Input.Code" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="text-center">
            <h3><i class="fa fa-lock fa-4x mb-5"></i></h3>
            <h2 class="text-2xl font-bold mb-2">Reset Password</h2>
            <p>You can reset your password here.</p>
        </div>

        <div class="relative mb-2">
            <label asp-for="Input.Email" class="block text-sm font-bold mb-2">Old Password</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="relative mb-2">
            <label asp-for="Input.Password" class="block text-sm font-bold mb-2">New Password</label>
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Enter your new password"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="relative mb-6">
            <label asp-for="Input.ConfirmPassword" class="block text-sm font-bold mb-2">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Enter confirm your new password"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-6 relative">
            <button type="submit" class="btn btn-warning w-full">Reset Password</button>
        </div>




    </form>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
