@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="flex flex-col items-center flex-1 h-full justify-center mx-auto px-4 sm:px-0 min-h-screen text-base-content">
    <div class="flex w-full border border-base-300 sm:w-5/6 lg:w-5/6 sm:mx-0">
        <div class="hidden md:block md:w-1/2">
            <img src="/css/logintoreset-removebg-preview.png" class="w-full h-full object-cover rounded-l-lg">
        </div>
        <div class="flex flex-col w-full md:w-1/2 p-4 justify-center mx-auto">
            <div class="flex flex-col flex-1 justify-center mb-8">
                <h1 class="mb-5 text-5xl font-bold">Password Reset Successful</h1>
                <p class="font-bold">Your password has been successfully reset.</p>
                <p class="mb-5 font-bold">Click the "Sign In" button to log in.</p>
                <a asp-page="/Account/Login" class="btn btn-primary text-white w-24">Sign In</a>
            </div>
        </div>
    </div>
</div>
