@page
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="flex items-center justify-center min-h-screen text-base-content">
    <form class="p-8 shadow-lg rounded-lg space-y-4 relative border border-base-300" style="width:40%;" method="post">
        <input asp-for="Input.Code" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="text-center">
            <h3><i class="fa fa-lock fa-4x mb-5"></i></h3>
            <h2 class="text-2xl font-bold mb-2">Reset Password</h2>
            <p>You can reset your password here.</p>
        </div>

        <div class="relative mb-2">
            <label asp-for="Input.Email" class="block text-sm font-bold mb-2"><i class="mr-2" data-feather="mail" aria-hidden="true"></i>Your Email</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="relative mb-2">
            <label asp-for="Input.Password" class="block text-sm font-bold mb-2"><i class="mr-2" data-feather="lock" aria-hidden="true"></i>New Password</label>
            <div class="relative">
                <input asp-for="Input.Password" id="password" autocomplete="current-password" aria-required="true" placeholder="Enter your new password" class="input input-bordered w-full pr-10" />
                <span id="toggle-password" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                    <i id="eye-icon" class="fas fa-eye"></i>
                </span>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="relative mb-6">
            <label asp-for="Input.ConfirmPassword" class="block text-sm font-bold mb-2"><i class="mr-2" data-feather="lock" aria-hidden="true"></i>Confirm Password</label>
            <div class="relative">
                <input asp-for="Input.ConfirmPassword" id="confirm-password" autocomplete="new-password" aria-required="true" placeholder="Enter your password again"
                       class="input input-bordered w-full pr-10" />
                <span id="toggle-confirm-password" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                    <i id="confirm-eye-icon" class="fas fa-eye"></i>
                </span>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-6 relative">
            <button type="submit" class="btn btn-warning w-full">Reset Password</button>
        </div>




    </form>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('toggle-password').addEventListener('click', function () {
            var passwordInput = document.getElementById('password');
            var eyeIcon = document.getElementById('eye-icon');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            }
        });

        document.getElementById('toggle-confirm-password').addEventListener('click', function () {
            var confirmPasswordInput = document.getElementById('confirm-password');
            var confirmEyeIcon = document.getElementById('confirm-eye-icon');
            if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                confirmEyeIcon.classList.remove('fa-eye');
                confirmEyeIcon.classList.add('fa-eye-slash');
            } else {
                confirmPasswordInput.type = 'password';
                confirmEyeIcon.classList.remove('fa-eye-slash');
                confirmEyeIcon.classList.add('fa-eye');
            }
        });
    </script>
}
